.button {
  background: $blue;
  color: $green;
  border: 1px solid $green;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
}

.button--link {
  background: none;
}

.button--secondary {
  color:white;
  background: $disabled-grey;
  
}

.wrapbutton {
  align-self: center;
}