.ellipsescontent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    font-weight: 700;
   
}
.textcolor {
    color:$blueforvalue;
}

.setmaxwidth {
   justify-content: center;
}

.cardtitle {
    margin:0 auto;
    text-decoration:underline;
    text-align: center;
}
.card__align {
    padding:$m-size;

    img {
        background-color: rgb(245, 239, 239);
    }
}
.footerdiv{
    font-weight: 700;
    text-align: center;
    
}

.centeralign {
    // desktop styles
    margin:none;
    @media(max-width: $desktop-breakpoint - .01rem){
       margin:$s-size $s-size //mobile styles
       
    }
}


