.footer {
    background: $dark-blue;
  }
  .footer__title {
    color: #ffffff;
    text-decoration: none;
    h1 {
      margin: 0;
    }
  }
  .footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $s-size 0;
  }
  